@page "/"
@inject IJSRuntime _jsRunTime

<div id="container">
    <div class="nationalityBox" id="nationalityBox1">
        <span>""Japaness""</span>
    </div>
    <div class="nationalityBox" id="nationalityBox2">
        <span>""Chiness""</span>
    </div>
    <div class="nationalityBox" id="nationalityBox3">
        <span>""Korean""</span>
    </div>
    <div class="nationalityBox" id="nationalityBox4">
        <span>""Thai""</span>
    </div>
    
    @*<div class="defaultPath" id="newCandidate" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
    </div>*@
    @if (Game.IsOver)
    {
        <div id="restart-container">
            <img @onclick="RestartTheGame" src="images/restart.png" />
            <div>
                <span style="font-size:3rem;font-weight:bold;">Play again</span>
            </div>
            
        </div>
    }
    <div id="score-board">
        <span>Score: @Game?.TotalPoints</span>
    </div>
</div>
@code{
    public Game Game { get; set; }
    private DotNetObjectReference<Index> objRef;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Game = new Game();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await GenerateCandidate();
        }
    }

    public async Task GenerateCandidate()
    {
        Game.GenerateCandidate();
        await _jsRunTime.GenerateNewRound(Game.Candidate);

        objRef = DotNetObjectReference.Create(this);
        await _jsRunTime.AppStart(objRef);
    }
    [JSInvokable]
    public void GuessAndGo(int guess)
    {
        Guess(guess);
        AssessGuess();
        InvokeAsync(StateHasChanged);
        if (!Game.IsOver)
            GenerateCandidate().GetAwaiter();
    }


    public void Dispose()
    {
        objRef?.Dispose();
    }

    private void Guess(int nationalityId)
    {
        Game.Guess(nationalityId);
    }
    private void AssessGuess()
    {
        Game.AssessGuess();
    }
    private void RestartTheGame()
    {
        InvokeAsync(StateHasChanged);
        Game = new Game();
        GenerateCandidate().GetAwaiter();
    }
}
